@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700&display=swap");

:root {
  --clr-yellow-100: hsl(45, 99%, 64%);
  --clr-yellow-200: hsl(45, 99%, 70%);
  --clr-yellow-300: hsla(45, 99%, 90%, 0.8);
  --clr-dark-100: hsl(216, 18%, 16%);
  --clr-dark-200: hsl(217, 10%, 25%);
  --clr-dark-300: hsl(217, 10%, 40%);
  --clr-gray: hsl(0, 0%, 50%);
  --clr-lgray: hsl(0, 0%, 70%);
  --clr-white: hsl(0, 0%, 97%);
}

/* Reset */

* {
  margin: 0;
  padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

input {
  color: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4 {
  color: inherit;
  font-weight: inherit;
}

/* HELPER CLASS */

.container {
  width: min(90%, 58.75rem);
  margin-inline: auto;
}

.text-center {
  text-align: center;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.fw-300 {
  font-weight: 300;
}

.text-gray {
  color: var(--clr-lgray);
}

/* Start of main styles */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  /* background-color: var(--clr-white); */
  min-height: 100vh;
  font-family: "Noto Sans", sans-serif;

  background: rgb(38, 77, 89);
  background: linear-gradient(
    147deg,
    rgba(38, 77, 89, 1) 0%,
    rgba(67, 151, 141, 1) 0%,
    rgba(127, 175, 136, 1) 0%,
    rgba(249, 224, 127, 1) 0%,
    rgba(249, 173, 106, 1) 50%,
    rgba(207, 151, 135, 1) 100%
  );
}

.title {
  color: var(--clr-dark-200);
  font-size: 3.5rem;
  font-weight: 300;
}

.main {
  display: flex;
  margin-block: 1.5rem;
  background-color: var(--clr-dark-200);
  color: var(--clr-white);
  border-radius: 0.875rem;
  opacity: 1;

  box-shadow: 1px 12px 42px 0px hsla(13, 60%, 35%, 0.75);
  -webkit-box-shadow: 1px 12px 42px 0px hsla(13, 61%, 35%, 0.75);
  -moz-box-shadow: 1px 12px 42px 0px hsla(13, 61%, 35%, 0.75);
}

@media (max-width: 41.875rem) {
  .main {
    flex-direction: column;
  }
}

.form {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form__label {
  display: inline-block;
  margin-bottom: 0.375rem;
}

.input__wrapper {
  outline: 1px solid;

  display: flex;

  background-color: var(--clr-white);
  padding-inline: 0.5rem;
  padding-block: 0.3rem;

  color: var(--clr-dark-300);
  border-radius: 0.5rem;
}

.input__wrapper input {
  background: transparent;
  outline: none;
  border: none;
  font-size: 1rem;
}

.input__wrapper span {
  min-width: 2.8125rem;
}

.radio__wrapper {
  position: relative;
}

.radio__wrapper label {
  display: block;
  margin-bottom: 0.875rem;
  padding-block: 1rem;
  border: 1px solid var(--clr-gray);
  border-radius: 0.75rem;
  cursor: pointer;

  transition: all 200ms;
}

.radio__wrapper input[type="radio"] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.radio__wrapper label:hover {
  /* background-color: var(--clr-dark-300); */
  background-color: var(--clr-yellow-300);
  border-color: var(--clr-yellow-300);
  color: var(--clr-dark-200);
}

.radio__wrapper input:checked ~ label {
  border-color: var(--clr-yellow-200);
  background-color: var(--clr-yellow-200);
  color: var(--clr-dark-200);
}

.button__wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

.btn {
  background: transparent;
  padding-block: 0.5rem;
  padding-inline: 0.8rem;

  color: var(--clr-white);
  font-size: 0.875rem;

  border: none;
  border-radius: 0.35rem;
  outline: 1px solid var(--clr-gray);

  cursor: pointer;

  transition: all 200ms;
}

.submit:hover {
  outline-color: var(--clr-yellow-200);
  color: var(--clr-yellow-200);
}

.reset:hover {
  outline-color: hsl(8, 60%, 50%);
  color: hsl(8, 60%, 50%);
}

.output {
  padding: 1.2rem;
}

.materials__table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1.5rem;
}

.table__col {
  border: 1px solid var(--clr-white);
  overflow: hidden;
}

.table__col:last-child {
  border-left: 0;
}

.table__col > * {
  padding-inline: 0.575rem;
  padding-block: 0.375rem;
}

.table__col > *:nth-child(odd) {
  background-color: var(--clr-gray);
}

.output__cost h4 {
  text-align: right;
  font-size: 1.5rem;
}
